/* EXPERIENCE SECTION */

#experience {
    position: relative;
    background-color: rgb(105,155,113); /* Choisissez votre couleur de fond */

    min-height: 2050px; /* Ajuster la hauteur de la section, étendre le fond*/
}



.title2 {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #e9e9e9; /* Choisissez la couleur de texte souhaitée */
    
}


/* cases */
/* Lien du projet */
.experience-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}
  
.experience-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les projets horizontalement */
  width: 100%; /* Prendre toute la largeur de la page */
  margin: 0 auto; /* Centrer la row horizontalement */
  max-width: 1200px; /* Limiter la largeur pour une meilleure lisibilité */
}

.row1 {
  display: flex;
  justify-content: center;
  margin-top: -10px; /* Adjust the margin-top value to reduce the gap */
  margin-bottom: -40px; /* Espace entre les lignes de projets */
  text-align: center; /* Centrer horizontalement les éléments à l'intérieur de la ligne */
}





.exp-link {
  display: block;
  margin: 0 auto; /* Centre le logo GitHub */
}

.exp-logo {
  transition: all 0.2s;
  width: 30px; /* Taille du logo GitHub */
}

.exp-logo:hover {
  width: 32px;
  transition: all 0.2s;
}



/* Orientation 1 ---------------------- */
/*image de fond */
.section__pic-container3 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 500px;
  margin: auto 0;
  transform: translateX(7.5rem); /*deplace l'image */
  cursor : pointer;

  position: relative;
}

/* Orientation 1*/
.experience-pic {
  width: 100%; /* Fixez la largeur à 100% */
  height: 380px; /* Fixez une hauteur spécifique */
  object-fit: cover; /* Déforme l'image pour remplir le conteneur tout en conservant son rapport hauteur/largeur */
  transition: all 0.2s;
  border-radius: 0.5rem;
}

/* Orientation 1 ?*/
.experience {
  position: relative;
  width: 600px; /* Largeur fixe pour chaque case */
  height: 200px; /* Hauteur fixe pour chaque case */
  margin: 20px; /* Ecart entre les projets */

  margin-top: 150px; /* Ecart entre les projets */

  background-color: rgb(67, 71, 75); /* Couleur de fond des cases */
  border-radius: 0.3rem; /* Angle des cases */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease; /* Ajoutez la transition de couleur */
  text-align: center; /* Centre le contenu à l'intérieur de chaque case */
  align-items: center; /* Centre le contenu verticalement */
  display: flex; /* Utilisez Flexbox pour centrer verticalement le texte */
}


/* Orientation 1*/
.experience-details {
  position: relative;
  top: 50%; /* Ajustez cette valeur selon vos besoins */
  transform: translateY(-50%); /* Centrer verticalement */
  width: calc(100% - 20px); /* Réduire légèrement la largeur et ajuster en fonction de la marge ajoutée */
  margin-right: 80px; /* Ajoutez une marge à droite */
  text-align: left; /* Aligner le texte sur la gauche */

}

/*Texte du job*/
/* Orientation 1*/
.experience-description {
  margin : auto;
  margin-bottom: 15px;
  color: rgb(186, 186, 186);

  font-size: 1rem; /* Réduit la taille du texte */
  margin-right: 10px; /* Ajoute une marge à droite */

}

.experience:hover .text1-overlay2 {
  transition: all 0.4s;
  color: #007bff; /* Couleur lors du survol */
  
}

/* Orientation 1*/
/* Conteneur de l'icône GitHub */
.exp-container {
  position: absolute;
  top: 10px; /* Ajustez la position verticale */
  right: 10px; /* Ajustez la position horizontale */
}

/* Orientation 1*/
/* Texte superposé sur la case */
.exp-tags-container {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche */
  text-align: right; /* Alignement du texte à droite */
  align-items: flex-end; /* Alignement en bas */
  margin-left: 5px; /* Ajouter un peu d'espace entre les tags et le texte */
}

/* Orientation 1*/
.exp-tag {
  font-size: 0.9rem; /* Réduire la taille de la police */
  color : rgb(199, 197, 197);
  
 
  margin-right: 15px;
}

/* Orientation 1*/
/*Texte superposé sur le tout */

.text1-overlay {
  position: absolute;
  top: -80px; /* Ajustez la position verticale selon vos besoins */
  left: -50px;
  right: -10px;
  text-align: right;
  color: white;
  font-size: 1.2rem;
  padding: 10px;

  
}

.text1-overlay2 {
  transition: all 0.4s; /* transition apres couleur */
  position: absolute;
  top: -62px; /* Ajustez la position verticale selon vos besoins */
  left: -50px;
  right: -10px;
  text-align: right;
  color: white;
  font-size: 2.2rem;
  padding: 10px;

  font-weight: bold; /*mettre en gras */

}

.text1-overlay3 {
  position: absolute;
  top: 195px; /* Ajustez la position verticale selon vos besoins */
  left: -50px;
  right: -10px;
  text-align: right;
  color: white;
  font-size: 1rem;
  padding: 10px;

  font-weight: bold; /*mettre en gras */
}


.experience:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2); /* Add box shadow offset-x | offset-y | blur-radius | color */ 
}

/* Effet hover sur l'image */
.experience-pic:hover {
  transition: all 0.2s;
  transform: translateY(-0px) scale(1.002); /* Translation vers le haut et échelle légèrement agrandie */
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2); /* Add box shadow offset-x | offset-y | blur-radius | color */ 
}






/* Orientation 2 ---------------------- */
/*image de fond */
.section__pic-container4 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 500px;
  margin: auto 0;
  transform: translateX(39rem); /*deplace l'image */
  cursor : pointer;

  position: relative;
}

/* Orientation 2*/
.experience-pic2 {
  width: 100%; /* Fixez la largeur à 100% */
  height: 380px; /* Fixez une hauteur spécifique */
  object-fit: cover; /* Déforme l'image pour remplir le conteneur tout en conservant son rapport hauteur/largeur */
  transition: all 0.2s;
  border-radius: 0.5rem;
}

/* Orientation 2 ?*/
.experience2 {
  position: relative;
  width: 600px; /* Largeur fixe pour chaque case */
  height: 200px; /* Hauteur fixe pour chaque case */
  margin: 10px; /* Ecart entre les projets */
  transform: translateX(-30rem); /*deplace l'image */

  margin-top: 150px; /* Ecart entre les projets */

  background-color: rgb(67, 71, 75); /* Couleur de fond des cases */
  border-radius: 0.3rem; /* Angle des cases */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease; /* Ajoutez la transition de couleur */
  text-align: center; /* Centre le contenu à l'intérieur de chaque case */

  align-items: center; /* Centre le contenu verticalement */
  display: flex; /* Utilisez Flexbox pour centrer verticalement le texte */
}


/* Orientation 2*/
.experience-details2 {
  position: relative;
  top: 50%; /* Ajustez cette valeur selon vos besoins */
  transform: translateY(-50%); /* Centrer verticalement */
  width: calc(100% - 20px); /* Réduire légèrement la largeur et ajuster en fonction de la marge ajoutée */
  margin-right: 80px; /* Ajoutez une marge à droite */
  text-align: left; /* Aligner le texte sur la gauche */

}



/*Texte du job*/
/* Orientation 2*/
.experience-description2 {
  margin : auto;
  margin-bottom: 15px;
  color: rgb(186, 186, 186);

  font-size: 1rem; /* Réduit la taille du texte */
  margin-right: 10px; /* Ajoute une marge à droite */

}

.experience2:hover .text2-overlay2 {
  transition: all 0.4s;
  color: #007bff; /* Couleur lors du survol */
  
}

/* Orientation 2*/
/* Conteneur de l'icône GitHub */
.exp-container2 {
  position: absolute;
  top: 10px; /* Ajustez la position verticale */
  right: 10px; /* Ajustez la position horizontale */
}

/* Orientation 2*/
/* Texte superposé sur la case */
.exp-tags-container2 {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche */
  text-align: right; /* Alignement du texte à droite */
  align-items: flex-end; /* Alignement en bas */
  margin-left: 5px; /* Ajouter un peu d'espace entre les tags et le texte */
}

/* Orientation 2*/
.exp-tag2 {
  font-size: 0.9rem; /* Réduire la taille de la police */
  color : rgb(199, 197, 197);
  
 
  margin-right: 15px;
}

/* Orientation 2*/
/*Texte superposé sur le tout */

.text2-overlay {
  position: absolute;
  top: -80px; /* Ajustez la position verticale selon vos besoins */
  left: -11px;
  right: -10px;
  text-align: left;
  color: white;
  font-size: 1.2rem;
  padding: 10px;

  
}

.text2-overlay2 {
  transition: all 0.4s; /* transition apres couleur */
  position: absolute;
  top: -62px; /* Ajustez la position verticale selon vos besoins */
  left: -11px;
  right: -10px;
  text-align: left;
  color: white;
  font-size: 2.2rem;
  padding: 10px;

  font-weight: bold; /*mettre en gras */

}

.text2-overlay3 {
  position: absolute;
  top: 195px; /* Ajustez la position verticale selon vos besoins */
  left: -0px;
  right: -10px;
  text-align: left;
  color: white;
  font-size: 1rem;
  padding: 10px;

  font-weight: bold; /*mettre en gras */
}

.experience2:hover {
  transform: translateY(-5px) translateX(-30rem);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2); /* Add box shadow offset-x | offset-y | blur-radius | color */ 
}

.experience-link2 {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

/* Effet hover sur l'image */
.experience-pic2:hover {
  transition: all 0.2s;
  transform: translateY(-0px) scale(1.002); /* Translation vers le haut et échelle légèrement agrandie */
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2); /* Add box shadow offset-x | offset-y | blur-radius | color */ 
}


.exp-link2 {
  display: block;
  margin: 0 auto; /* Centre le logo GitHub */
}

.exp-logo2 {
  transition: all 0.2s;
  width: 30px; /* Taille du logo GitHub */
}

.exp-logo2:hover {
  width: 32px;
  transition: all 0.2s;
}