/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  /* google font -> import*/
  font-family: 'Poppins', sans-serif;
  background-color: rgb(226, 223, 223); /* Couleur de fond */
  
}


html {
  scroll-behavior: smooth;
}



p {
  color: rgb(54, 51, 51);
}

/* transition */

a, .btn {
  transition: all 0.3s ease;
}

a {
  display: block;
  position: relative;
  top:0;
  left:0;
  transform:scale(1);
  padding: 15px 20px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.25s;
  border-radius: 4px;
  z-index: 2;
  margin:0 2px;
}




/* hamburger menu */
  /* for mobile devices */
  #hamburger-nav {
    display: none;
    background-color: rgba(11, 14, 16, 1);
    
  }
  
  .hamburger-menu {
    position: fixed; /* Définissez la position en absolu pour contrôler plus facilement la position */
    top: 32px;
    right: 32px; /* Ajustez la marge droite pour rapprocher le menu du bord droit */
    z-index: 9999;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: -10px;
    width: fit-content;
    background-color: none; /*fond du menu hamburger */
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 0.8rem;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-top: 3px; /* Séparation entre les boutons mode hamburger */ 
    position: relative; /* Assurez-vous que les pseudo-éléments sont positionnés par rapport à cet élément */
  }

.menu-links a{
    color: rgb(105, 155, 113);
    background-color: rgba(11, 14, 16, 0.8); /* Rendre la couleur de fond transparente */
    border-color: rgb(105, 155, 113); /* Couleur de la bordure */
    transform: scale(1); /* Modifiez la taille de l'encadrement */
    cursor: pointer; /* Ajoutez un curseur au survol */
    border-radius: 10px;
    border: 3px solid; /* Ajoutez une bordure transparente par défaut */
  }

  .menu-links a:hover {
    transform: scale(0.9);
  }
  
  
  .menu-links li {
    list-style: none;
  }
  
  /* open the menu related to javascript */
  .menu-links.open {
    max-height: 400px;
    margin-top: 20px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
      opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
      transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
      transform: none;
  }
  
  .hamburger-icon span:first-child {
      opacity: 1;
  }
  
  .hamburger-icon span:first-child {
      transform: none;
  }





.logo-container2 a {
  /* Supprimer les transitions */
  transition: none;
}

.logo-container2 a::before,
.logo-container2 a::after {
  /* Supprimer les pseudo-éléments */
  content: none;
}

.logo-image2 {
  max-width: 800%; /* ou définissez une largeur spécifique en pixels ou en pourcentage */
  height: auto; /* Pour conserver le ratio hauteur/largeur */
}



/* Règles CSS spécifiques au mode paysage */
@media (orientation: landscape) {
  .logo-container2 { 
    position: relative;
    margin-top: 30px;
      margin-right: auto; /* Place l'élément à gauche */
      margin-left: 0px;
  }
}


/* Règles CSS spécifiques au mode portrait */
@media (orientation: portrait) {
  .logo-container2 { 
    position: relative;
    margin-top: -40px;
      margin-right: auto; /* Place l'élément à gauche */
      margin-left: 0px;
  }
}