/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* google font -> import*/
  font-family: 'Poppins', sans-serif;
  background-color: rgb(226, 223, 223); /* Couleur de fond */
}

/* Couleur de fond pour la section "EXPERIENCE" 
#experience {
  background-color: #753232;  Couleur de fond pour la section "EXPERIENCE" 
}
*/

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(54, 51, 51);
}

/* transition */

a, .btn {
  transition: all 0.3s ease;
}

/* Desktop Navigation */


#desktop-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(11, 14, 16, 0.8); /* Fond semi-transparent */
  z-index: 1000; /* Assure que la barre de navigation reste au-dessus du contenu */
  height: 90px; /* Ajuste la hauteur de la barre de navigation */
}

nav, .nav-links {
  display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height : 17vh;
}

.nav-links {
  gap : 2rem; /*écart entre les boutons */
  list-style: none;
  font-size: 1.5rem;
}

#desktop-nav img,
.nav-links {
  margin: 0 25px; /* Appliquer une marge à chaque élément de la barre */
}


a {
  display: block;
  position: relative;
  top:0;
  left:0;
  transform:scale(1);
  padding: 15px 20px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.25s;
  border-radius: 4px;
  z-index: 2;
  margin:0 2px;
}

/* hover effect a mouse go over the link */
a:hover{
  top:-10px;
  transform:scale(1.1);
}

/* codepen over effect */
a::before,a::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: rgb(105,155,113);
  z-index: -1;
  border-radius: 4px;
  transition: all 0.25s;
}
a::after{
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: #0003;
  z-index: -2;
  border-radius: 4px;
  transition: all 0.25s;
}
a:hover:before{
  opacity:0.9;
}
a:hover:after{
  bottom:-10px;
  transform:scale(0.9)
}

/* Styles spécifiques pour LinkedIn */
#socials-container a:nth-child(1)::before,
#socials-container a:nth-child(1)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Définir une couleur transparente */
  z-index: -1;
  border-radius: 4px;
  transition: all 0.25s;
}

/* Styles spécifiques pour GitHub */
#socials-container a:nth-child(2)::before,
#socials-container a:nth-child(2)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Définir une couleur transparente */
  z-index: -1;
  border-radius: 4px;
  transition: all 0.25s;
}

/* Au survol, changer la couleur de fond */
#socials-container a:hover::before,
#socials-container a:hover::after {
  background: none; /* Définir une couleur de fond */
}
/* fin de la section codepen */

/* Styles pour les liens de contact mail et linkedin codepen*/
.contact-info-container a::before,
.contact-info-container a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Couleur de fond transparente */
  z-index: -1;
  border-radius: 4px;
  transition: all 0.25s;
}

/* Au survol, changer la couleur de fond */
.contact-info-container a:hover::before,
.contact-info-container a:hover::after {
  background: none; /* Couleur de fond au survol */
}
/* texte en noir*/
.contact-info-container a {
  color: #000000; /* Couleur du texte */
}
/* Fin Styles pour les liens de contact mail et linkedin codepen*/

/* titre de la page */
.logo {
  font-size: 3rem;
  font-weight: 600;
}

.logo:hover {
  cursor: default;
}

/* hanburger menu */
/* for mobile devices */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  background-color: none; /*fond du menu hamburger */
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 5px; /* Séparation entre les boutons mode hamburger */ 
}

.menu-links li {
  list-style: none;
}

/* open the menu related to javascript */
.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */
/* select all the sections above the footer */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 auto; /* passe de auto à 10 rem pour centrer les sections */
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  justify-content: flex-end; /* Aligne les éléments à droite */
}

/* Image dans la barre */
.section__pic-container2 {
  width: 50px;
  height: 50px;
  display: flex;
  margin: auto 0;
}

.logo-container {
  margin-right: auto; /* Place l'élément à gauche */
  align-items: center; /* Aligne le contenu au centre verticalement */
}

.logo-container a {
  /* Supprimer les transitions */
  transition: none;
}

.logo-container a::before,
.logo-container a::after {
  /* Supprimer les pseudo-éléments */
  content: none;
}

.logo-image {
  max-width: 100%; /* ou définissez une largeur spécifique en pixels ou en pourcentage */
  height: auto; /* Pour conserver le ratio hauteur/largeur */
}



/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100vh;
}
/* the picture of the profile */
.section__pic-container {
  width: 400px;
  height: 400px;
  display: flex;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: left;
  margin-top: 1rem; /* Ajoute une marge supérieure */
  line-height: 1.2; /* Ajuste l'espacement entre les lignes */
}

.section__text p {
  /*font-size: 1.75rem;*/
  font-weight: 600;
  
}

.section__text__p1 {
  font-size: 1.75rem;
  text-align: left;
  color: white;
}

.section__text__p2 { 
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: left;
  color: rgb(159, 158, 158);
  
}

.section__text__p3 { 
  color: white;
  
}

.title1 {
  font-size: 6rem;
  text-align: left;
  color : white;
}



.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS HOME PAGE */
/* boutons pour les contacts */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 0.5rem;
}

/*Souris sur les boutons */
.btn-color-2 {
  border: rgb(53,53,53) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover {
  cursor: pointer;
}

/*Codepen button 1*/
.btn-color-1 {
  background: rgb(105,155,113);
  background: linear-gradient(0deg, rgba(105,155,113,1) 0%, rgba(105,155,113,1) 100%);
  border: none;
  
}
.btn-color-1:before {
  height: 0%;
  width: 2px;
}

/*End codepen button 1*/

/*Codepen button 2*/
.btn-color-2 {
  background: rgb(224,211,222);
  background: none;
  border: rgb(106, 105, 105) 0.15rem solid; /* Couleur zt épaisseur de la bordure */
}
.btn-color-2:before {
  height: 0%;
  width: 2px;
}

.btn-color-1:hover,
.btn-color-2:hover {
    transition-duration: 0.3s; /* Durée de la transition */
    transition-property: transform; /* Propriété à animer */
    transform: scale(0.9); /* Transformation au survol */
}

/*End codepen button */


.btn-container{
    gap: 1rem; /*écarts entre les boutons */
}

/* Couleur du texte pour le bouton "Download CV" */
.download-btn {
  color: rgb(106, 105, 105); /* Couleur du texte */
}

/* Couleur du texte pour le bouton "Contact" */
.contact-btn {
  color: white; /* Couleur du texte */
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin-top: 8rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* style for the picture */
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  width: 400px;
  height: 400px;
  margin: auto 0;
}

/* Hover effect sur les cases du ABOUT */
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  transition: box-shadow 0.3s ease; /* Ajoutez une transition pour une animation fluide */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Effet de lueur initial (transparent) */
}

/* Effet de lueur au survol */
.details-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Effet de lueur plus prononcé au survol */
}

/* Styles pour les liens dans les textes */
.link {
  /* Styles généraux pour les liens */
  color: blue; /* Couleur du texte pour les liens par défaut */
  text-decoration: none; /* Supprimer la soulignement par défaut */
}

.special-link {
  /* Styles spécifiques pour le lien "Polytech Paris-Saclay" */
  color: rgb(10, 126, 251); /* Changer la couleur du texte */
  font-weight: bold; /* Rendre le texte en gras */

  display: inline-block;
  margin-left: 0.1px; /* Réduit la marge à gauche du lien */
  margin-right: 0.1px; /* Réduit la marge à droite du lien */
  font-size: 1rem; /* Réduit légèrement la taille du texte */
  vertical-align: middle; /* Ajuste l'alignement vertical par rapport au texte environnant */
  padding: 2px 5px; /* Ajuste les paddings pour un meilleur ajustement */

  line-height: 1; /* Réduit l'espacement entre les lignes pour un meilleur alignement vertical */
}

.special-link:hover {
  top: 0; /* Réinitialiser la propriété top */
  transform: scale(1); /* Réinitialiser la transformation */
}

.special-link::before,
.special-link::after {
  background: none; /* Réinitialiser l'arrière-plan */
}

.special-link:hover::before,
.special-link:hover::after {
  opacity: 0; /* Réinitialiser l'opacité */
  bottom: 0; /* Réinitialiser la position */
  transform: scale(1); /* Réinitialiser la transformation */
}




/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* move with the page */
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250,250,250);
}

.project-img {
  width: 90%;
  height: 90%;
  border-radius: 2rem;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53,53,53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250,250,250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

.email-icon {
    height: 2.5 rem;
}

/* FOOTER */

footer {
  height: 26vh;
    margin: 0 1rem;
}

footer p {
  text-align: center;
}

.color-container1 {
  background-color: rgb(11, 14, 16); /* Couleur de fond pour la section "About" */
}
